<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Forgot PasswordS</title>
		<link rel="stylesheet" href="../../../css/css-templates/forgot.css" />
	</head>
	<body>
		<div class="forgot-container">
			<form class="forgot-form" action="">
				<div class="header">
					<h3>Forgot Password?</h3>
				</div>
				<input type="email" placeholder="Input your email" />
				<button class="forgot-button" type="submit">Submit</button>
			</form>
		</div>
	</body>
</html>
