<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../css/css-templates/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container-login">
      <form class="login-form" action="">
        <div class="login-header">
          <h2>Login</h2>
        </div>
        <input type="email" class="login-email" id="login-email" placeholder="Email" />
        <input type="password" class="login-password" id="login-password" placeholder="Input the password" />
        <button class="login-button" type="submit">Login</button>
        <p>Don't have account? <a class="register-link" href="">Sign Up</a></p>
      </form>
    </div>
  </body>
</html>
