<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../css/css-templates/register.css" />
    <title>Register</title>
    <script src="https://kit.fontawesome.com/309d08236c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-register">
      <form class="register-form" action="">
        <div class="register-header">
          <h2>Register</h2>
        </div>

        <input type="text" class="register-name" id="register-name" placeholder="  Input your name" />

        <input type="text" class="register-username" id="register-username" placeholder="Input Username" />

        <input type="email" class="register-email" id="register-email" placeholder="Email" />

        <input type="password" class="register-password" id="register-password" placeholder="Input the password" />
        <input type="password" class="confirm-password" id="confirm-password" placeholder="Confirm Password" />
        <button class="register-button" type="submit">Register</button>

        <p>Already have account? <a class="login-link" href="">Login</a></p>
      </form>
    </div>
  </body>
</html>
