* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgb(29, 29, 29);
}

.container-login {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-radius: 5px;
	background-color: rgb(71, 68, 68);
}

.login-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 0.5em;
	padding: 10px;
	color: white;
}

.forgot-password {
	text-align: center;
}

a {
	color: red;
}

.login-header {
	margin-bottom: 10px;
}

form input {
	border-radius: 5px;
	border: 1px solid red;
	padding: 10px;
	background-color: transparent;
}

input::placeholder {
	color: rgb(161, 161, 161);
}

.login-button {
	background-color: red;
	color: white;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

.register-link {
	color: red;
}
.register-link:hover {
	color: rgb(174, 1, 1);
}
